<a href="https://colab.research.google.com/github/meyrellesilva/Challenge-1-Sprint-01-ALURA/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [13]:
!python -V

Python 3.8.10

# 1.3 Trabalhando com dados

In [14]:
import pandas as pd
pd.set_option('display.max_rows', 10)
#pd.set_option('display.max_rows', 400)

In [15]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

FileNotFoundError: ignored

In [12]:
dataset.dtypes

NameError: ignored

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

In [ ]:
1,2,3

In [ ]:
nome = 'bob'
valor =1203
(nome, valor)

('bob', 1203)

In [ ]:
nome_carro = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carro

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nome_carro)

tuple

# 2.2 Seleções em tuplas

In [ ]:
nome_carro = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carro

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nome_carro[0]

'Jetta Variant'

In [ ]:
nome_carro[-4]

'Jetta Variant'

In [ ]:
nome_carro[2]

'Crossfox'

In [ ]:
nome_carro[2:4]

('Crossfox', 'DS5')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nome_carro = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5']), ('Fusca', 'Gol')
nome_carro

(('Jetta Variant', 'Passat', 'Crossfox', 'DS5'), ('Fusca', 'Gol'))

In [ ]:
nome_carro

(('Jetta Variant', 'Passat', 'Crossfox', 'DS5'), ('Fusca', 'Gol'))

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

In [ ]:
for item in nome_carro:
  print(item)

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
('Fusca', 'Gol')

### Desempacotamento de tuplas

In [ ]:
carro_1, carro_2 = nome_carro

In [ ]:
carro_1

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_2

('Fusca', 'Gol')

In [ ]:
_, C, *_ = nomes_carros

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

In [ ]:
carros.index('Passat')

1

In [ ]:
valores[carros.index('Passat')]

106161.94

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(dados)

dict

### Criando dicionários com *zip()*

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
dados = dict (zip(carros, valores))
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados

True

In [ ]:
'passat' in dados

False

In [ ]:
len (dados)

4

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len (dados)

4

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['DSS'] = 1234549,07

In [ ]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
dados

{'Passat': {'ano': 2012,
  'km': 50000,
  'valor': 75000,
  'acessorios': ['Airbag', 'ABS']},
 'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000}}

In [ ]:
del dados ['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados.update({'Passat': 106161.95, 'Fusca': 150000})
dados

{'Passat': 106161.95,
 'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000},
 'Fusca': 150000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()
dadosCopy

{'Passat': 106161.95,
 'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000},
 'Fusca': 150000}

In [ ]:
del dadosCopy['Fusca']
dadosCopy

{'Passat': 106161.95, 'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000}}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy.pop('Passat', 'Não encontrada')

'Não encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()

dict_keys(['Passat', 'Crossfox', 'Fusca'])

In [ ]:
for key in dados.keys():
  print(dados[key])

106161.95
{'ano': 2015, 'km': 35000, 'valor': 25000}
150000

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([106161.95, {'ano': 2015, 'km': 35000, 'valor': 25000}, 150000])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()

dict_items([('Passat', 106161.95), ('Crossfox', {'ano': 2015, 'km': 35000, 'valor': 25000}), ('Fusca', 150000)])

In [ ]:
for item in dados.items():
  print(item)

('Passat', 106161.95)
('Crossfox', {'ano': 2015, 'km': 35000, 'valor': 25000})
('Fusca', 150000)

In [ ]:
for key, value in dados.items():
  print(key, value)

Passat 106161.95
Crossfox {'ano': 2015, 'km': 35000, 'valor': 25000}
Fusca 150000

In [ ]:
for key, value in dados.items():
  if (value >= 1000):
    print (key)

Passat

TypeError: ignored

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
valores = []

for valor in dados.values():
  valores.append(valor)
valores

[106161.95, {'ano': 2015, 'km': 35000, 'valor': 25000}, 150000]

In [ ]:
soma = 0
for valor in dados.values():
  soma = valor
soma

150000

In [ ]:
list(dados.values())

[106161.95, {'ano': 2015, 'km': 35000, 'valor': 25000}, 150000]

In [ ]:
sum(dados.values())

TypeError: ignored

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [ ]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(num_1, num_2, num_3):
  valor = (num_1 + num_2 + num_3) / 3
  print(valor)

In [ ]:
media(1,2,3)

2.0

In [ ]:
media(23,45,67)

45.0

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
Resultado = media([1,45,58,96,52,25,245,4])

65.75

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [ ]:
media([1,2,3,4,5,6,7,8])

(4.5, 8)

In [ ]:
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [ ]:
resultado

5.0

In [ ]:
n

9

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros = ['BMW', 'UNO', 'CHEVET']
carros

['BMW', 'UNO', 'CHEVET']

In [ ]:
pd.Series(carro)

0    DS5
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

          Passat  Crossfox   Fusca
ano    106161.95      2015  150000
km     106161.95     35000  150000
valor  106161.95     25000  150000

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame()

In [ ]:
dataset

          Passat  Crossfox   Fusca
ano    106161.95      2015  150000
km     106161.95     35000  150000
valor  106161.95     25000  150000

### Criando um DataFrame a partir de uma arquivo externo

In [11]:
dataset = pd.read_csv('db.csv', sep = ';')

NameError: ignored

In [10]:
dataset

NameError: ignored

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [9]:
dataset.head()

NameError: ignored

In [ ]:
dataset ['Nome']

0              Jetta Variant
1                     Passat
2                   Crossfox
3                        DS5
4           Aston Martin DB4
               ...
253             Phantom 2013
254    Cadillac Ciel concept
255               Classe GLK
256         Aston Martin DB5
257                    Macan
Name: Nome, Length: 258, dtype: object

In [ ]:
type(dataset['Valor'])

pandas.core.series.Series

In [ ]:
dataset[['Nome']]

                      Nome
0            Jetta Variant
1                   Passat
2                 Crossfox
3                      DS5
4         Aston Martin DB4
..                     ...
253           Phantom 2013
254  Cadillac Ciel concept
255             Classe GLK
256       Aston Martin DB5
257                  Macan

[258 rows x 1 columns]

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [8]:
dataset[0:3]

NameError: ignored

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset.loc[['Passat', 'DS5']]

KeyError: ignored

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
dataset.iloc[1]

Nome                                                        Passat
Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: 1, dtype: object

In [ ]:
dataset.iloc[1:4]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [ ]:
dataset.iloc[1:4, [0,3, 2]]

       Nome  Quilometragem   Ano
1    Passat         5712.0  1991
2  Crossfox        37123.0  1990
3       DS5            NaN  2019

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
78,Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
124,Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
189,Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
237,Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

# 5.3 Queries com DataFrames

In [ ]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [ ]:
dataset.Motor

0            Motor 4.0 Turbo
1               Motor Diesel
2            Motor Diesel V8
3            Motor 2.4 Turbo
4            Motor 2.4 Turbo
               ...
253                 Motor V8
254                 Motor V8
255    Motor 5.0 V8 Bi-Turbo
256             Motor Diesel
257          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [ ]:
select = dataset.Motor == 'Motor Diesel'

In [ ]:
dataset[select]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
23,Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
60,Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
62,New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
69,Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
...,...,...,...,...,...,...,...
226,Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
233,i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
237,Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
240,V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

### Utilizando o método query

In [ ]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

NameError: ignored

# 5.4 Iterando com DataFrames

In [6]:
for item in dataset:
  print(item)

NameError: ignored

In [7]:
for index, row in dataset.iterrows():
  if(2019-row['Ano'] != 0)
  dataset.loc[index, 'Km_medio'] = row['Quilometragem'] / (2019 - row['Ano'])

SyntaxError: ignored

# 5.5 Tratamento de dados

In [23]:
dataset = pd.read_csv('db.csv')
dataset

FileNotFoundError: ignored

In [18]:
dataset.info()

NameError: ignored

In [19]:
<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype  
---  ------         --------------  -----  
 0   Motor          258 non-null    object 
 1   Ano            258 non-null    int64  
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool   
 4   Acessórios     258 non-null    object 
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

SyntaxError: ignored

In [20]:
dataset[dataset.Quilometragem.isna()]

NameError: ignored

In [ ]:
dataset.fillna(0)

In [ ]:
dataset.fillna(0, inplace = True)

In [ ]:
dataset.head()

In [ ]:
dataset.query('Zero_km == True')

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset.dropna(subset = ['Quilometragem'])

In [ ]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)